<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>UserPreference</key>
    <array>
        <dict>
            <key>DefaultValue</key>
            <string>13</string>
            <key>Key</key>
            <string>userid</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>jaxchow</string>
            <key>Key</key>
            <string>username</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>jax</string>
            <key>Key</key>
            <string>realname</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>3</string>
            <key>Key</key>
            <string>userGroup</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>车逸族成员</string>
            <key>Key</key>
            <string>userGroupText</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>1320</string>
            <key>Key</key>
            <string>userpoint</string>
        </dict>
        <dict>
            <key>DefaultValue</key>
            <string>自驾</string>
            <key>Key</key>
            <string>hobby</string>
        </dict>
    </array>
	<key>user</key>
	<string>13</string>
</dict>
</plist>
